/* Fonts */
/* Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

/* Misc */
$vue-color: #50fa7b;
$dark-color: #1a1a1d;
$danger-color: #ea4d46;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
